Repository favware/graphql-pokemon, pull requests merged in 2019-11, with the labels that each got.

#36 Fix/fetch requests
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/launch.json
  src/services/DexService.ts
  src/structures/DexDetails.ts
Labels: Meta: BugFix, Priority: Critical, SEM: N/A

#34 feat: add Data for Generation 8 Pokemon
  __tests__/__snapshots__/dex.test.ts.snap
  __tests__/dex.test.ts
  package.json
  src/arguments/ExactPokemonPaginatedArgs.ts
  src/assets/pokedex.ts
  src/resolvers/DexResolver.ts
  src/services/DexService.ts
  yarn.lock
Labels: Meta: Generation 8, Priority: High, SEM: Minor, Status: WIP

#39 feat(dex): add basestatstotal field
  __tests__/__snapshots__/dex.test.ts.snap
  __tests__/abilities.test.ts
  __tests__/dex.test.ts
  __tests__/testUtils/types.d.ts
  src/services/DexService.ts
  src/structures/DexDetails.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor

#41 refactor(assets): re-order data
  __tests__/__snapshots__/abilities.test.ts.snap
  __tests__/__snapshots__/moves.test.ts.snap
  __tests__/abilities.test.ts
  src/assets/abilities.ts
  src/assets/items.ts
  src/assets/moves.ts
Labels: Meta: Cleanup, Meta: Refactor, Priority: Critical

#42 feat(items): add gen8 data and expose item sprite
  __tests__/__snapshots__/items.test.ts.snap
  __tests__/items.test.ts
  __tests__/testUtils/types.d.ts
  src/assets/items.ts
  src/services/ItemSerivce.ts
  src/structures/ItemEntry.ts
  src/utils/pokemon.d.ts
Labels: Meta: Generation 8

#43 feat: gen8 pokemon data
  .github/workflows/codequality.yml
  src/assets/pokedex.ts
Labels: Meta: Generation 8

#45 feat: expose (shiny)sprite and color in learnset for discord embeds
  src/services/LearnsetService.ts
  src/structures/LearnsetEntry.ts
Labels: Meta: Feature, SEM: Minor

#48 ci: fix smogon format update workflow
  .github/labels.json
  .github/workflows/update-formats.yml
Labels: Meta: Github, SEM: N/A

#47 feat: add gen8 learnsets
  scripts/UpdateLearnsets.ts
  scripts/updateFormats.ts
  scripts/utils.ts
  src/assets/abilities.ts
  src/assets/aliases.ts
  src/assets/items.ts
  src/assets/learnsets.ts
  src/assets/moves.ts
  src/assets/pokedex.ts
  src/assets/typechart.ts
  src/structures/LearnsetEntry.ts
Labels: Meta: Generation 8, Priority: High

#46 feat: add gen8 moves
  .github/workflows/update-smogon-tiers.yml
  README.md
  __tests__/__snapshots__/moves.test.ts.snap
  codegen.yml
  package.json
  scripts/smogonTiersData.json
  scripts/updateSmogonTiers.ts
  src/assets/abilities.ts
  src/assets/aliases.ts
  src/assets/items.ts
  src/assets/learnsets.ts
  src/assets/moves.ts
  src/assets/pokedex.ts
  src/services/MoveService.ts
  src/structures/MoveEntry.ts
  src/utils/pokemon.d.ts
Labels: Meta: Feature, Meta: Generation 8, Meta: Refactor, Priority: High, SEM: Minor

#51 feat: gen8 flavours
  .github/labels.json
  .github/labels.yml
  .github/workflows/label-import.yml
  .github/workflows/update-smogon-tiers.yml
  Dockerfile
  scripts/docker.sh
  src/assets/abilities.ts
  src/assets/aliases.ts
  src/assets/flavorText.json
  src/assets/learnsets.ts
  src/assets/pokedex.ts
  src/services/DexService.ts
  tsconfig.eslint.json
Labels: Meta: Generation 8, Meta: Refactor, Priority: High

#56 Feat/learnset by fuzzy
  .github/labels.yml
  .github/workflows/codequality.yml
  .gitignore
  Dockerfile
  __tests__/__snapshots__/learnsets.test.ts.snap
  __tests__/learnsets.test.ts
  __tests__/testUtils/types.d.ts
  __tests__/tsconfig.json
  package.json
  src/arguments/LearnsetFuzzyArgs.ts
  src/resolvers/LearnsetResolver.ts
  src/tsconfig.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.typings.json
  typings/tsconfig.json
Labels: Meta: Feature

#57 Feat/update gen 8 data
  package.json
  src/assets/abilities.ts
  src/assets/aliases.ts
  src/assets/moves.ts
  src/assets/pokedex.ts
  yarn.lock
Labels: Meta: Generation 8
